/* .classone{
    text-align: center;
    text-transform: capitalize;
    color:aqua;
    background-color: black;
}
#box{
    background-color: blue;
    height: 100px;
}
button{
    background-color: rgb(250, 201, 65);
}
#outer{
    font-size: 10px;
    line-height: 20px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
#inner{
    font-size: 25px;
}
*{
    font-family: "Times New";

}
h1{
    border-style: dashed;
    width: 400px;
    border-radius: 50px;
} */
* {
    padding: 0;
    margin: 0;
    color: black;
    
}

#navbar {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.75);
    display: b;
padding: 20px;
}

#but {
    background-color: rgb(250, 201, 65);
}

#logo {
    color: rgb(250, 201, 65);
}

a {
    margin-right: 200px;
    text-decoration: none;
}

input {
    width: 150px;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 123, 7);
}

#box2 {
    height: 50px;
    width: 50px;
    background-color: rgba(32, 255, 7, 0.834);
    border: 2px solid black;
    display: inline-block;
    position: static;
    
}

#box3 {
    height: 50px;
    width: 50px;
    background-color: rgba(24, 193, 255, 0.834);
    border: 2px solid black;
    display: inline-block;
    position : relative;
    top:10px;
    right: 20px;
    z-index: -1;
}

#box4 {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 7, 152, 0.834);
    border: 2px solid black;
    display: inline-block;
    position:sticky;
    top: 10px;
    left: 20px;
}

#box5 {
    height: 50px;
    width: 50px;
    background-color: rgba(210, 255, 7, 0.834);
    border: 2px solid black;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    background-image:url("my pic.png");
    background-size: cover;

}
body{
    background-image:url("my pic.png");
    background-size:auto;
   
}
